body {
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;

    background-image: url("house_image_1.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



h1 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

#response {
    margin-top: 20px;
}
